<div class="sidebar">
    <div class="logo">
        <i class='bx bx-copyright'></i>
        <span class="logo_name">Coding Lab</span>

    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bxs-home'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a href="#" class="link_name">Dashboard</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-home'></i>
                <span class="link_name">Support</span>
            </a>
            <ul class="sub-menu blank">
                <li><a href="#" class="link_name">Support</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="#" class="link_name">Category</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
            </ul>

        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-plug'></i>
                    <span class="link_name">Plugins</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="#" class="link_name">Plugins</a></li>
                <li><a href="#">UI</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
            </ul>

        </li>
        <li>
            <div class="icon-link">
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Posts</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="#" class="link_name">Category</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Card Design</a></li>
                <li><a href="#">Login Form</a></li>
            </ul>

        </li>

        <!-- <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="" alt="profile" width="20px">
                </div>
                <div class="name-job">
                    <div class="profile-name">
                        Prem Shahi
                    </div>
                    <div class="job">
                        Web Designer
                    </div>
                </div>
                <i class="bx bx-log-out"></i>
            </div>
        </li> -->
    </ul>
</div>
<section class="home-section"> 
    <div class="home-content">
        <i class='bx bx-menu'></i>
       
    </div>
</section>